* {
    main-bg:            #1B1E32B3;
    main-fg:            #CCD3FFE6;
    main-br:            #728BB8E6;
    main-ex:            #3C5477E6;
    select-bg:          #AAB3F080;
    select-fg:          #292E52E6;
}
